@media (max-width:600px) {
	
	.banner_headline{
		padding:20px;
	}

	.banner_headline h1 {
         font-size:55px;
	}
	.banner_headline h2 {
		font-size:17px;
	}
	.banner_options {
		height:auto;
		flex-direction:column;
	}
	.container {
		flex-direction:column;
	}
	#geral section,
	#geral aside {
		padding:20px;
	}
	.footer_menu {
		flex-direction:column;
	}
	.footer_area {
	   flex-direction: column;
	   padding:20px;
	}
    .footer_copy {
       padding:20px;
	}

	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
		left:0;
		width: 100%;
		background-color: #FFFFFF;
	}
	header {
		height:auto;
	}
	.logo {
		padding-left:20px;
		margin:10px;
	}
	.menuMobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#banner {
        display: flex;
        flex-direction: column;
	}
	section .widget_title_text {
		padding-top:20px;
	}
}